#Data Frame

Data Frame is a main object in Pandas library.It is used to represent and perform data with row and column,like tabular or excel spreadsheet data

In [6]:
#import pands module
import pandas as ps

In [7]:
#Read csv file using read method
dataFrame = ps.read_csv('weather_data.csv')
dataFrame
#It is read Csv file and print the data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [40]:
#we can also use dictionary for tabular data representation
weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
               
dataFrame = ps.DataFrame(weather_data)
dataFrame

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
#shape represent count of row and column in tuples
dataFrame.shape

(6, 4)

In [25]:
#6 is row and 4 is column
row,column = dataFrame.shape
print(f'row is: {row} and column is: {column}')

row is: 6 and column is: 4

In [42]:
#Head method
dataFrame.head(2) #with header it will display 3 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [41]:
#Tail method
dataFrame.tail(4) #only 4 rows will visible from the last
# head(0) and tail(0) always represent the header rows

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [26]:
#Row slicing and indexing using dataframe object
dataFrame[2:5] #row 2 to 4 will display

        day  temperatue  windspeed event
2  1/3/2017          28          2  Snow
3  1/4/2017          24          7  Snow
4  1/5/2017          32          4  Rain

In [43]:
#columns module

dataFrame.columns #It will return column name

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [44]:
#individual column values
dataFrame.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [46]:
#Types of column in pands are always 'series'
type(dataFrame['temperature'])

pandas.core.series.Series

In [52]:
#For display particular column in tabular way 
#Use 2 square brackets'[['column_name']]'
dataFrame[['temperature','event']]

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [61]:
#max method
dataFrame['temperature'].max()

35

In [62]:
#min method
dataFrame['temperature'].min()

24

In [63]:
#mean method
dataFrame['temperature'].mean()

30.333333333333332

In [66]:
#discribe method
dataFrame.describe() #It is describe intger column values with statistics

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [68]:
#Get row Data using conditions
dataFrame[dataFrame.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [89]:
#Get particular column Data using conditions
dataFrame[dataFrame.temperature == dataFrame.temperature.max()].day

1    1/2/2017
Name: day, dtype: object

In [90]:
#index
dataFrame.index

RangeIndex(start=0, stop=6, step=1)

In [94]:
#change index useing set_index method
dataCopy = dataFrame.set_index('day')
dataCopy #It will change index from serial number to day

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [95]:
#get row value from index
dataCopy.loc['1/5/2017']

temperature      32
windspeed         4
event          Rain
Name: 1/5/2017, dtype: object

In [103]:
#Reset index from day to serial number
dataCopy.reset_index(inplace=True)
dataCopy

   index  temperature  windspeed  event
0      0           32          6   Rain
1      1           35          7  Sunny
2      2           28          2   Snow
3      3           24          7   Snow
4      4           32          4   Rain
5      5           31          2  Sunny

In [104]:
#If you want to change original one and dont want to make a copy use inplace = true
dataCopy.set_index('temperature',inplace=True)
dataCopy

             index  windspeed  event
temperature
32               0          6   Rain
35               1          7  Sunny
28               2          2   Snow
24               3          7   Snow
32               4          4   Rain
31               5          2  Sunny

In [106]:
dataCopy.loc[32]

             index  windspeed event
temperature
32               0          6  Rain
32               4          4  Rain