In [11]:
#Csv Read
import pandas as ps
dataFrameCsv = ps.read_csv('weather_data.csv') #if file is not in same folder we need to give whole path
dataFrameCsv

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:
#Excel Read
dataFrameExcel = ps.read_excel('weather_data.xlsx')
dataFrameExcel

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [12]:
#if we need to read particular sheet in csv/Csv ,sheet name will pass as parameter
dataFrameExcel = ps.read_excel('weather_data.xlsx','Sheet1')
dataFrameExcel

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [14]:
#Using python dictionary
dictFrame = {
    'day':['2017-01-01','2017-01-02'],
    'temperature':[32,35],
    'windspeed':[6,7],
    'event': ['Rain','Sunny']
}
dictDataFrame= ps.DataFrame(dictFrame)
dictDataFrame

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny

In [21]:
#Using python list of tuples
tupleFrame = [
    ('2017-01-01',32,6,'Rain'),
    ('2017-01-002',35,7,'Sunny')
]
tupleDataFrame = ps.DataFrame(tupleFrame) #If we didn't represent the column in tuple,then dataframe will be following output
tupleDataFrame

             0   1  2      3
0   2017-01-01  32  6   Rain
1  2017-01-002  35  7  Sunny

In [20]:
#Tuple with column representation using column attribute
tupleFrame = [
    ('2017-01-01',32,6,'Rain'),
    ('2017-01-002',35,7,'Sunny')
]
tupleDataFrame = ps.DataFrame(tupleFrame,columns=['day','temperature','windspeed','event'])
tupleDataFrame

           day  temperature  windspeed  event
0   2017-01-01           32          6   Rain
1  2017-01-002           35          7  Sunny

In [25]:
#Using List of dictionary
listDict = [
    {'day':'2017-01-01','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'2017-0-01','temperature':35,'windspeed':7,'event':'Sunny'}
]
listDictDataFrame = ps.DataFrame(listDict)
listDictDataFrame

          day  event  temperature  windspeed
0  2017-01-01   Rain           32          6
1   2017-0-01  Sunny           35          7